<div id="user_modal" class="modal">
     <div class="modal-content">
         <p>Desea eliminar el Usuario </p>
     </div>
     <div class="modal-footer">
         <%= link_to 'Si','#', class: 'waves-effect waves-red btn-flat modal-action modal-close' %>
         <%= link_to 'Cancelar','#', class: 'waves-effect waves-green btn-flat modal-action modal-close' %>
     </div>
</div>