<div id="modals-demo" class="section">
	<div id="timbrado_modal" class="modal  green white-text" style="display: none;">  
		     <div class="modal-content">
		          
		     </div>
	</div>
</div>