
<div class="row">
     <div class="col s6 offset-s3">
         <div class="card-panel">
              <% if flash[:notice]%>
                 <div id="card-alert" class="card green col s10 offset-s1">
                    <div class="card-content white-text">
                        <%= flash[:notice] %>.
                     </div>
                 </div>
              <% end %>
            <h4 class="header2">Empleado Form</h4>
            <div class="row">
               <%= simple_form_for(@cliente,url:update_empleado_path,html:{autocomplete:'off',method: :put}) do |f| %>
                   <%= render 'layouts/error_messages', f: f%>
                   <%= render 'empleados/partials/fields', f: f %>
              <% end %>
            </div>
         </div>
     </div>
</div>
