 <header id="header" class="page-topbar">
 	<div class="navbar-fixed">
 	   <nav id="horizontal-nav" class="white hide-on-med-and-down">
           <div class="nav-wrapper">                  
               <ul id="ul-horizontal-nav" class="left hide-on-med-and-down">
                   <li> <%= link_to '<i class="mdi-action-dashboard"></i> <span> Inicio  </span>', {controller: "dashboard", action: "index"}, class: "cyan-text" %>
                   </li> 
               </ul>
           </div>
       </nav>
    </div>
</header>