<div class="row">
    <div class="input-field col s6">
        <%= f.text_field :tipo_uso, autofocus: true,maxlength:'35',class: 'validate'  %>
        <%= f.label 'Grupo' %>
    </div>
</div>
<div class="row">
      <div class="input-field col s12">
         <%= f.submit "Guardar " ,class: 'btn cyan waves-effect waves-light right'  %>
         <%= f.button :button, 'Cancelar', type: :reset, class: 'btn grey right' %>
       </div>
  </div>
