  <div id="table-datatables">
       <div class="row">
          <div class="col s12">
             <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                <thead>
                    <tr>
                       <th>Tipo Uso </th>
                       <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                   <% @grupoMedicamentos.each do |grupo_medicamento| %>
                      <tr>
                        <td><%= grupo_medicamento.tipo_uso %></td>
                        <td><i class="mdi-content-create prefix" title="editar"></i><%= link_to "Editar", edit_grupoMedicamento_path(grupo_medicamento) %> &nbsp &nbsp &nbsp
                            <i class="mdi-action-delete prefix" title="borrar"></i><%= link_to "Eliminar", destroy_grupoMedicamento_path(grupo_medicamento), :method => :delete, data: { confirm:"Desea Eliminar el Grupo "+grupo_medicamento.tipo_uso}  %></td>
                      </tr>
                   <% end %>
                </tbody>
            </table>
        </div>
      </div>
  </div>
