<div class="row">
     <div class="col s6 offset-s2">
         <div class="card-panel">
            <h4 class="header2">Usuario Form</h4>
            <div class="row">
               <%= simple_form_for(resource, as: resource_name,url:sign_up_user_path,html:{autocomplete:'off'},:validate => true) do |f| %>
                     <%= render 'devise/registrations/partials/fields', f: f %>
              <% end %>
            </div> 
         </div>    
     </div>
</div>     

