<div class='row'>
  <div class='col s12'>
     <% if flash[:succesfull]%>
         <div id="card-alert" class="card green col s5 offset-s2">
             <div class="card-content white-text">
                <%= flash[:succesfull] %>.
             </div>
         </div>
      <% end %>
      <% if flash[:error]%>
         <div id="card-alert" class="card red col s5 offset-s2">
            <div class="card-content white-text">
                <%= flash[:error] %>.
            </div>
         </div>
         <% end %>
  </div>
</div>
<div class='row'>
  <div class="col s9  offset-s1">
    <fieldset>
       <legend>Lista de Usuarios</legend>
       <%= render 'timbrados/partials/table'%>
    </fieldset>
  </div>
</div>
