$('#timbrado_data').empty();
$('#timbrado_data').append('<li><a href="#!"> Serie: <%= @timbrado.serie %> </a></li>'+ 
	                       '<li><a href="#!"> Nro Desde: <%= @timbrado.nro_desde %> </a></li>' +
                           '<li><a href="#!"> Nro Hasta: <%= @timbrado.nro_hasta %> </a></li>');